# OSX
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log

# Expo
.expo/
web-build/
dist/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# TypeScript
*.tsbuildinfo

# Environment variables
.env
.env.*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# VSCode
.vscode/
